html {
	overflow-y: scroll;
}

body, #mainWrapper {
	height: 70%;
	background-color: #F5F5F5;
}

body, .form-control {
	font-size: 12px !important;
}

.floatRight {
	float: right;
	margin-right: 18px;
}

.has-error {
	color: red;
}

.formcontainer {
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer {
	padding-left: 20px;
}

.generic-container {
	width: 96%;
	margin-left: 20px;
	margin-top: 20px;
	padding: 20px;
	background-color: #EAE7E7;
	background: url("/static/images/gray-texture.jpg") repeat;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
}


.custom-width {
	width: 80px !important;
}

.Absolute-Center.is-Responsive {
	width: 50%;
	height: 50%;
	min-width: 200px;
	max-width: 400px;
	padding: 40px;
}

.conversation {
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 25px;
}

.conversation2 {
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 25px;
	background: #aa3355;
}

.list-group {
	margin-bottom: 1px;
}

.list-group-item {
	padding: 5px 10px;
	float: left;
}

}
a.list-group-item:hover {
	text-decoration: none;
	color: #555555;
	background-color: orange;
}

a.list-group-item:focus {
	text-decoration: none;
	color: #555555;
	background-color: pink;
}

.panel>.panel-heading {
	background-image: none;
	background-color: #3B5998;
	color: white;
}

.panel>.panel-heading-agent {
	background-image: none;
	background-color: #025928;
	color: white;
}

.label {
	font-style: oblique;
	font-size: 14;
	background: none;
	margin-right: 5px;
}

.btn-primary {
	padding: 0px;
	color: #333;
	background-color: #FFFFFF;
	border-color: #666666;
	text-align: left;
}

.closed {
	text-align: right;
	color: #d96704;
	font-size: 10px;
	padding-top: 5px;
	margin: 5px;
}

.btn-primary-agent {
	color: #333;
	background-color: #FFFFFF;
	border-color: #666666;
	text-align: left;
}

.btn-primary:hover {
	color: #333;
	background-color: #dfe3ee;
	border-color: #666666;
}

.btn-primary-agent:hover {
	color: #333;
	background-color: #818385;
	border-color: #666666;
}

.btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:hover,
	.btn-primary.active:focus, .btn-primary:active, .btn-primary.active {
	color: #333;
	background-color: #8b9dc3;
	border-color: #666666;
}

.btn-primary-agent:focus, .btn-primary-agent:active:focus,
	.btn-primary-agent.active:hover, .btn-primary-agent.active:focus,
	.btn-primary-agent:active, .btn-primary-agent.active {
	color: #333;
	background-color: #3c8c30;
	border-color: #666666;
}

.btn-default:focus, .btn-default.active:hover, .btn-default.active:focus,
	.btn-default:active, .btn-default.active {
	background-color: #fff;
}


.custom-width1 {
	width: 70px !important;
}

.custom-width2 {
	width: 60px !important;
	height: 30px !important;
}

.custom-width3 {
	width: 100px !important;
}

.glyphicon {
	/*font-size: 18px;*/
	margin: 10px;
}

.glyphicon-refresh {
	margin: 3px;
}